/*400: Normal*/
@font-face {
  font-family: 'Sarun\'s Gothic 2';
  src: url('../fonts/sarunsgothic2/SarunsGothic2.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sarunsgothic2/SarunsGothic2.woff') format('woff'),
       url('../fonts/sarunsgothic2/SarunsGothic2.ttf')format('truetype'),
       url('../fonts/sarunsgothic2/SarunsGothic2.svg#SarunsGothic2') format('svg');
  font-weight: 400;
  font-style: normal;
}
