blockquote {
  background-color: rgb(0,0, 0);
  /*color: rgb(36, 36, 36);*/
  opacity: 0.6;
  border-radius: 20px;
  /*border-style: solid;*/
  /*border-width: 10px;*/
  color: #fff;
}
.overFlowHidden{
  overflow: hidden;
}
.background{
    background: linear-gradient(#141123, #2d214d, #463b6b) !important;
}
.logo{
    height: 100%;
    width : 100%;
}
#game{
    margin-top : 7%;
    margin-bottom:7.35%;
}
.gamesideleft1{
    /*background-color: lightyellow;*/
    text-align: left;
    margin-left :5%;
    margin-right :2.5%;
    margin-top :3%;
    color: #eeeeee;
    font-family: serif;
    font-size: 18pt;
}
.gamesideright1{
    /*background-color: lightyellow;*/
    text-align: left;
    margin-left :2.5%;
    margin-right :5%;
    margin-top :3%;
    text-align: center;
    color: #eeeeee;
}
#button{
    margin-top : 5%;
    background-color: darkcyan;
}
.pic{
  width: 300px;
  height: auto;
  margin-top: 20px;
}
.footer{
    height : 10%;
}
