@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Itim');

body {
  background-color: rgba(213, 149, 7, 0.96) !important;
  font-family: 'Itim', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
}
/* ============================= */

.logo-wipcamp--full {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
}
#imgside1{
  margin-top:100px;
}
#imgside2{
  margin-top:100px;

}
.gamehead {
  text-align: center;
  color: #FDCE41;
  background: #016050;
}
.gamebody1{
  height:600px;
  background: #016050;
}
.gameside1{
  height:600px;
  text-align: center;
  color :#FDCE41;
  background: #016050;
}
.gamebody2{
  background-color: #FDCE41;
  height: 800px;
  }
.gameside2{
  background-color:#016050;
  height:800px;
  text-align: center;
  color :#FDCE41
}
.gamefooter{
    height:50px;
    background: #016050;
}
#report{
    background-color: cyan;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}
#leaderboard{
    background-color: cyan;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}
@media (max-width:420px){
  .warning{
    background-color: blue;
  }
  .warning2{
    content:url(http://placehold.it/350x150);
    height:1366px;
    width:1024px;
  }
}
#game canvas{
  margin-left:-5%;
  margin-right:-5%;
}

/*========================================================================*/
/* front_game */
/* all in leaderboard */

@media (min-width: 320px)
and (max-width:568px)
 {
  .game-fontLeaderboard {
    margin: 50px 0 10px 0;
    text-align: center  ;
    font-size: 280% !important;
  }
  .game-fontGameName{
    text-align: center;
    font-size: 170% !important;
    margin-bottom: 50px;
  }
  .game-fontHeadTable{
    font-size: 15px;
    text-align: center;
  }
  .game-fontInTable{
    font-size: 15px;
    text-align: center;
  }
  .circleIcon{
    width: 0%;
  }
  .gameMobile{
    width: 100%;
    max-width: 180px;
  }
  .buttonGame{
    margin: 0% 0 0% 0;
  }
  .headGameCenter{
    /*background-color: #e7b850;*/
    padding: 60px 0 15px 0;
  }
  .btn-width{
    width: 40%;
    background-color: #eeeeee;
    font-family: 'Itim', sans-serif;
    height: 50px;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 20px !important;
  }
  .buttonButtom {
    margin: 30px 0 30px 0 !important;
  }
  .rounded-circle{
    height: 35px;
    width: auto;
  }
  .iconGameMobile{
    height: 60px;
    width: auto;
  }
  .box4game{
    margin-bottom: 30px;
    /*padding: 0 50px 0 30px;*/
    text-align: center;
  }
  .wipgamebody {
    min-width: 200px;
    padding: 30px 0 30px 0;
    border-width: 5px;
    border-style: solid;
    border-radius: 14px;
    text-align: center;
    background-color: white;
    opacity: .8;
  }
  .colorBody{
    /*background-color: #dfa21a;*/
    padding: 0px 300px 20px 300px;
  }
 }
@media (min-width: 375px)
and (max-width: 736px)
{
  .game-fontLeaderboard {
    margin: 50px 0 10px 0;
    text-align: center  ;
    font-size: 280% !important;
  }
  .game-fontGameName{
    text-align: center;
    font-size: 170% !important;
    margin-bottom: 50px;
  }
  .game-fontHeadTable{
    font-size: 15px;
    text-align: center;
  }
  .game-fontInTable{
    font-size: 15px;
    text-align: center;
  }
  .circleIcon{
    width: 0%;
  }
  .gameMobile{
    width: 100%;
    max-width: 180px;
  }
  .buttonGame{
    margin: 0% 0 0% 0;
  }
  .headGameCenter{
    /*background-color: #e7b850;*/
    padding: 60px 0 15px 0;
  }
  .btn-width{
    width: 40%;
    background-color: #eeeeee;
    font-family: 'Itim', sans-serif;
    height: 50px;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 20px !important;
  }
  .buttonButtom {
    margin: 30px 0 30px 0 !important;
  }
  .rounded-circle{
    height: 35px;
    width: auto;
  }
  .iconGameMobile{
    height: 60px;
    width: auto;
  }
  .box4game{
    margin-bottom: 50px;
    /*padding: 0 50px 0 30px;*/
    text-align: center;
  }
  .wipgamebody {
    min-width: 200px;
    padding: 30px 0 30px 0;
    border-width: 5px;
    border-style: solid;
    border-radius: 14px;
    text-align: center;
    background-color: white;
    opacity: .8;
  }
  .colorBody{
    /*background-color: #dfa21a;*/
    padding: 0px 300px 20px 300px;
  }
}
@media (min-width: 768px)
and (max-width: 1024px){
  .game-fontLeaderboard {
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 60px !important;
  }
  .game-fontGameName{
    text-align: center;
    font-size: 40px !important;
    margin-bottom: 30px;
  }
  .game-fontHeadTable{
    font-size: 20px;
    text-align: center;
  }
  .game-fontInTable{
    font-size: 20px;
    text-align: center;
  }
  .circleIcon{
    width: 0%;
  }
  .gameMobile{
    height: 280px;
  }
  .buttonGame{
    margin: 0% 0 0% 0;
  }
  .iconGameMobile{
   height: 100px;
   width: auto;
 }
 .box4game{
   margin: 50px 0 50px 0 !important;
 }
  .headGameCenter{
    /*background-color: #e7b850;*/
    padding: 50px 0 60px 0;
  }
  .btn-width{
    font-size: 22px !important;
    width: 150px;
    background-color: #eeeeee;
    font-family: 'Itim', sans-serif;
    height: 50px;
    padding: 0;
    margin: 0;
    color: white;
  }
  .rounded-circle {
    width: auto;;
    height: 45px;
  }
  .wipgamebody {
    min-width: 300px;
    padding: 30px 0 30px 0;
    border-width: 5px;
    border-style: solid;
    border-radius: 14px;
    text-align: center;
    background-color: white;
    opacity: .8;
  }
 }
 @media only screen
 and (min-device-width : 768px)
 and (max-device-width : 1024px) {
     .game-fontLeaderboard {
       margin: 40px 0 0 0;
       text-align: center;
       font-size: 60px !important;
     }
     .game-fontGameName{
       text-align: center;
       font-size: 40px !important;
       margin-bottom: 30px;
     }
     .game-fontHeadTable{
       font-size: 20px;
       text-align: center;
     }
     .game-fontInTable{
       font-size: 20px;
       text-align: center;
     }
     .circleIcon{
       width: 0%;
     }
     .gameMobile{
       width: 100%;
       min-width: 270px;
     }
     .buttonGame{
       margin: 0% 0 0% 0;
     }
     .iconGameMobile{
      height: 100px;
      width: auto;
    }
    .box4game{
      margin-top: 50px;
      text-align: center;
    }
    .IpadPro {
      margin: 0px 0 0px 0;
    }
     .headGameCenter{
       /*background-color: #e7b850;*/
       padding: 50px 0 0px 0 !important;
     }
     .btn-width{
       font-size: 22px !important;
       width: 150px;
       background-color: #eeeeee;
       font-family: 'Itim', sans-serif;
       height: 50px;
       padding: 0;
       margin: 0;
       color: white;
     }
     .rounded-circle {
       width: auto;;
       height: 45px;
     }
     .wipgamebody {
       min-width: 300px;
       padding: 30px 0 30px 0;
       border-width: 5px;
       border-style: solid;
       border-radius: 14px;
       text-align: center;
       background-color: white;
       opacity: .8;
     }
 }
@media (min-width: 1025px) {
 .game-fontLeaderboard {
   margin: 40px 0 0 0;
   text-align: center;
   font-size: 60px !important;
 }
 .game-fontGameName{
   text-align: center;
   font-size: 40px !important;
   margin-bottom: 30px;
 }
 .game-fontHeadTable{
   font-size: 20px;
   text-align: center;
 }
 .game-fontInTable{
   font-size: 20px;
   text-align: center;
 }
 .circleIcon{
   width: 0%;
 }
 .gameMobile{
   width: 300px;
 }
 .buttonGame{
   margin: 0% 0 0% 0;
 }
 .iconGameMobile{
  height: 100px;
  width: auto;
}
.box4game{
  margin-top: 70px;
  text-align: center;
}
.IpadPro {
  margin: 0px 0 0px 0;
}
 .headGameCenter{
   /*background-color: #e7b850;*/
   padding: 50px 0 0px 0 !important;
 }
 .btn-width{
   font-size: 22px !important;
   width: 150px;
   background-color: #eeeeee;
   font-family: 'Itim', sans-serif;
   height: 50px;
   padding: 0;
   margin: 0;
   color: white;
 }
 .rounded-circle {
   width: auto;;
   height: 45px;
 }
 .wipgamebody {
   min-width: 300px;
   padding: 30px 0 30px 0;
   border-width: 5px;
   border-style: solid;
   border-radius: 14px;
   text-align: center;
   background-color: white;
   opacity: .8;
 }
 .fixForPic1{
   width: 70%;
   max-width: 150px;
   float: left;
 }
 .fixForPic2{
   width: 70%;
   max-width: 150px;
   float: left;
 }
 .fixForPic3{
   width: 70%;
   max-width: 150px;
   float: left;
 }
 .fixForPic4{
   width: 70%;
   max-width: 150px;
   float: left;
 }
 .bgLine1 {
   width: 50%;
   height: 50%;
   background: url('../../game/img/line1v2.svg');
   background-size: cover;
 }
}
 }
 @media (min-width: 1366px) {
   .fixForPic{
     width: 70%;
     max-width: 150px;
   }
   .game-fontLeaderboard {
     font-size: 60px !important;
   }
   .game-fontGameName{
     font-size: 35px !important;
     margin-bottom: 40px;
   }
   .game-fontHeadTable{
     font-size: 27px;
     text-align: center;
   }
   .game-fontInTable{
     font-size: 20px;
     text-align: center;
   }
   .gameMobile{
     width: 70%;
     max-width: 150px;
   }
   .buttonGame{
     margin: 15% 0 5.5% 0;
   }
   .headGameCenter{
     padding: 80px 0 0px 0;
   }
   .btn-width{
     width: 200px;
     background-color: #eeeeee;
     font-family: 'Itim', sans-serif;
     height: 70px;
     padding: 0;
     margin: 0;
     color: white;
     font-size: 30px !important;
   }
   .bgLine1 {
     width: 70%;
     height: 70%;
     background: url('../../game/img/line1v2.svg');
     background-size: cover;
   }
   .rounded-circle {
     width: auto;
     height: 60px;
   }
   .wipgamebody {
     min-width: 500px;
     padding: 30px 0 30px 0;
     border-width: 5px;
     border-style: solid;
     border-radius: 14px;
     text-align: center;
     background-color: white;
     opacity: .8;
   }
   .iconGameMobile {
     width: 0px !important;
   }
 }
 @media (min-width: 1600px) {
   .bgLine1 {
     width: 100% !important;
     height: 100% !important;
     background: url('../../game/img/line1v3.svg');
     background-size: 150%;
   }
 @media (min-width: 1920px) {
   .bgLine1 {
     width: 100% !important;
     height: 100% !important;
     background: url('../../game/img/line1v3.svg');
     background-size: 155%;
   }

 }
.game-body{
  background: url('../../game/img/bg.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color:#fff;
}
th {
  text-align: center !important;
}
.table,.game-forCenter{
  text-align: center;
}
.game-Table{
  margin-top: -3.285px;
  text-align: center;
}

.buttonButtom {
  margin: 50px 0 30px 0;
}

/* end of leaderboard */

/* GAMECENTER */

.gamecenterBg{
  background-color: rgba(213, 149, 7, 0.96);
  /*background-image: url('');
  background-size: contain;*/
}
.game-tbl{
  color:black;
}
/* END GAMECENTER */

/*========================================================================*/
