.background{
    background: linear-gradient(#141123, #2d214d, #463b6b) !important;
}
.logo{
    margin-top:-20%;
    margin-bottom:-15%;
    height: 100%;
    width : 100%;
}
#game{
    margin-top : 7%;
    margin-bottom:7.35%;
}
.gamesideleft1{
    /*background-color: lightyellow;*/
    text-align: left;
    margin-left :5%;
    margin-right :2.5%;
    margin-top :3%;
    color: #eeeeee;
    font-family: serif;
    font-size: 18pt;
}
.gamesideright1{
    /*background-color: lightyellow;*/
    text-align: left;
    margin-left :2.5%;
    margin-right :5%;
    margin-top :3%;
    text-align: center;
    color: #eeeeee;
}
#button{
    margin-top : 5%;
    background-color: darkcyan;
}
.footer{
    height : 10%;
}