@import url('fontface-thaisansneue.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    font-family: 'Thaisans Neue for Web', sans-serif !important;
    font-weight: 400;
    margin: 0 0 0 0;
}

.container {
    text-align: center;
    color: #fff;
}
.overFlowHidden{
  overflow: hidden;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px)
and (orientation: portrait) {
  .nameGame{
    display: none;
  }
  .fixHeight {
    max-height: 667px;
  }
  .warn{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 32, 32);
    z-index: 1 !important;
    position: absolute;
  }
  .rotatePic{
    margin-top:10%;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textWarn{
    padding: 50% 0 0 0;
    color: white;
    font-size: 365%;
  }
  .setIndexGame{
    z-index: -2 !important;
    position: fixed;
  }
  #game canvas{
    width:0px;
    height:0px;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px)
and (orientation: landscape) {
  .nameGame{
    display: none;
  }
  .textWarn{
    font-size: 0px;
  }
  .rotatePic{
    width : 0px;
    height : 0px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .rotatePicIpad{
    width : 0px;
    height : 0px;
  }
  .setIndexGame{
    z-index: -1 !important;
    position: fixed;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    .nameGame{
      display: none;
    }
    .fixHeight {
      max-height: 667px;
    }
    .warn{
      width: 100%;
      height: 100%;
      background-color: rgb(249, 32, 32);
      z-index: 1 !important;
      position: absolute;
    }
    .rotatePic{
      width: 0px;
      height: 0px;
    }
    .rotateIpad{
      width: auto;
    }
    .textWarn{
      padding: 45% 0 0 0;
      color: white;
      font-size: 365%;
    }
    .setIndexGame{
      z-index: -1 !important;
      position: fixed;
    }
    #game canvas{
      width:0px;
      height:0px;
    }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    .nameGame{
      top: 3vw;
      position: absolute;
      color: white;
      left: 32vw;
    }
    .fixHeight {
      max-height: 736px;
    }
    .textWarn{
      font-size: 0px;
    }
    .rotatePic{
      width: 0px;
      height: 0px;
    }
    .rotateIpad{
      width: 0px;
      height: auto;
    }
    .setIndexGame{
      z-index: -1 !important;
      position: fixed;
    }
    #game {
      width: 100%;
      height: 100%;
      padding: 13% 0 0 0;
      background: linear-gradient(#141123, #2d214d, #463b6b);
    }
}


@media only screen
and (min-width:1300px) {
  .nameGame{
    position: absolute;
    color: white;
    top: 1vh;
    left: 20vw;
    right: 20vw;
    font-size: 1.5em;
  }
  .setBgIpad{
    background:linear-gradient(#141123, #2d214d, #463b6b);
  }
  .fixHeight {
    max-height: 736px;
  }
  .textWarn{
    font-size: 0px;
  }
  .rotatePic{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: auto;
  }
  .setIndexGame{
    z-index: -1 !important;
    position: fixed;
  }
  #game {
    width: 100%;
    height: 100%;
    padding: 10vh 0 0 0;
    background: linear-gradient(#141123, #2d214d, #463b6b);
  }
}

@media only screen
  and (device-width: 1024px)
  and (device-height: 1366px)
  and (orientation: portrait) {
  .nameGame{
    display: none;
  }
  .fixHeight {
    max-height: 667px;
  }
  .warn{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 32, 32);
    z-index: 1 !important;
    position: absolute;
  }
  .rotatePic{
    margin-top:10%;
  }
  .rotateIpad{
    width: 300px;
    height: auto;
  }
  .textWarn{
    padding: 35% 0 0 0;
    color: white;
    font-size: 365% !important;
  }
  .setIndexGame{
    z-index: -2 !important;
    position: fixed;
  }
  #game canvas{
    width:0px;
    height:0px;
  }
}

@media only screen
  and (device-width: 1366px)
  and (device-height: 1024px)
  and (orientation: landscape) {
  .nameGame{
    position: absolute;
    color: white;
    top: 8vh;
    left: 20vw;
    right: 20vw;
    font-size: 3em;
  }
  .setBgIpad{
    background:linear-gradient(#141123, #2d214d, #463b6b);
  }
  .fixHeight {
    max-height: 736px;
  }
  .textWarn{
    font-size: 0px;
  }
  .rotatePic{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: auto;
  }
  .setIndexGame{
    z-index: -1 !important;
    position: fixed;
  }
  #game {
    width: 100%;
    height: 100%;
    padding: 25vh 0 0 0;
    background: linear-gradient(#141123, #2d214d, #463b6b);
  }
}
