@import url('fontface-thaisansneue.css');

body{
  margin: 0 0 0 0;
  font-family: 'Thaisans Neue for Web', sans-serif !important;
  background: #2d214d;
}

/* Desktop + Android */
@media only screen
and (min-width:0px)
and (orientation: portrait){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      overflow: hidden;
  }
  .container{
    margin: 0 0 0 0 !important;
  }
  .hide{
    background-color: #2d214d;
    position: absolute;
    width: 100vw;
    height: 100vh;
 }
 .rotate{
   width: 500px;
   height: auto;
   position: absolute;
   top:700px;
   left: 250px;
 }
 .rotateIpad{
   width: 0px;
   height: 0px;
 }
 .textHide{
   font-size: 50px;
   color: #fff;
   position: absolute;
   top: 980px;
   left: 200px;
 }
  center{
    overflow: hidden;
  }
  #game{
      display: none;
  }
}
@media only screen
and (min-width:0px)
and (orientation: landscape){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      overflow: hidden;
  }
  .container{
    margin: 0 0 0 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  center{
    overflow: hidden;
  }
  #game canvas{
      margin: 0px auto;
  }
}

@media only screen
and (min-width:800px)
and (orientation:portrait){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      overflow: hidden;
  }
  center{
    overflow: hidden;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  #game{
      display: none;
  }
}
@media only screen
and (min-width:800px)
and (orientation: landscape){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      /*overflow: hidden;*/
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    margin: 2% 0 0 0;
  }
  #game canvas{
      margin: 0px auto;
  }
}

@media only screen
and (min-width:1024px){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      /*overflow: hidden;*/
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    margin: 3% 0 0 0 !important;
  }
  #game canvas{
      margin: 0px auto;
  }
}

@media only screen
and (min-width:1280px){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      /*overflow: hidden;*/
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    margin: 3em 0 0 0;
  }
  #game canvas{
      margin: 0px auto;
  }
}

@media only screen
and (min-width:1300px){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      /*overflow: hidden;*/
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    margin: 3% 0 0 0 !important;
  }
  #game canvas{
      margin: 0px auto;
  }
}

@media only screen
and (min-width:1440px){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      overflow: hidden;
  }
  center{
    overflow: hidden;
  }
  .container{
    margin: 5em 0 0 0;
  }
  #game canvas{
      margin: 0px auto;
  }
}
@media only screen
and (min-width:1600px){
  body {
      margin: 0 0 0 0;
      background: #2d214d;
      overflow: hidden;
  }
  center{
    overflow: hidden;
  }
  .container{
    margin: 6em 0 0 0;
  }
  #game canvas{
      margin: 0px auto;
  }
}

/* iphone5 */
@media only screen
and (device-width:320px)
and (device-height:568px)
and (orientation: portrait){
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 500px;
    height: auto;
    position: absolute;
    top:700px;
    left: 250px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 980px;
    left: 200px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:568px)
and (device-height:320px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .container{
    margin: 0 0 0 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  #game canvas{
      margin: 0px auto;
  }
}

/* iphone6 */
@media only screen
and (device-width:375px)
and (device-height:667px)
and (orientation: portrait){
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 500px;
    height: auto;
    position: absolute;
    top:700px;
    left: 250px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 980px;
    left: 200px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:667px)
and (device-height:375px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .container{
    margin: 0 0 0 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  #game canvas{
      margin: 0px auto;
  }
}
/* iphone6 plus */
@media only screen
and (device-width:414px)
and (device-height:736px)
and (orientation: portrait){
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 500px;
    height: auto;
    position: absolute;
    top:700px;
    left: 250px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 980px;
    left: 200px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:736px)
and (device-height:414px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .container{
    margin: 0 0 0 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  #game canvas{
      margin: 0px auto;
  }
}

/* ipad */
@media only screen
and (device-width:768px)
and (device-height:1024px)
and (orientation: portrait){
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 380px;
    height: auto;
    position: absolute;
    top:450px;
    left: 310px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 750px;
    left: 200px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:1024px)
and (device-height:768px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
.container{
    margin: 6em 0 0 0 !important;
}
.hide{
   width: 0vw;
   height: 0vh;
}
.rotate{
  width: 0px;
  height: 0px;
}
.rotateIpad{
  width: 0px;
  height: 0px;
}
.textHide{
  font-size: 0px;
}
  #game canvas{
      margin: 0px auto;
  }
}

/* ipadpro */
@media only screen
and (device-width:1024px)
and (device-height:1366px)
and (orientation: portrait){
  body{
    margin: 0 0 0 0;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 380px;
    height: auto;
    position: absolute;
    top:450px;
    left: 340px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 750px;
    left: 230px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:1366px)
and (device-height:1024px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .container{
    margin: 12.5em 0 0 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  #game canvas{
      margin: 0px auto;
  }
}
