/*========================= Stylesheets Dependencies ========================*/
@import url('fontface-thaisansneue.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*============================= Global Elements =============================*/
body {
  background-color: #eeeeee;
  font-family: 'Thaisans Neue for Web', sans-serif;
  font-weight: 400;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
}

h1 {
  transition: font-size .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  line-height: 1.5em;
  font-family: "Thaisans Neue for Web";
}

h1 > span {
  font-family: 'Thaisans Neue for Web';
}

h1, p {
  cursor: default;
}

.fa::before, .fa::after {
  font-family: 'FontAwesome';
}

.tooltip {
  font-family: 'Thaisans Neue for Web', sans-serif;
  font-weight: 200;
  white-space: nowrap;
}

#btn-getstarted {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 2em;
  padding: 0.8em 2.8em 0.8em 2.8em;
  text-decoration: none !important;
  border-radius: 7px;
  cursor: pointer;
}

#btn-getstarted:hover {
  background: #188c83;
  border-radius: 7px;
  border: 1px solid #188c83;
}

@keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}
@keyframes cloud1 {
  0% { right: -15%; }
  100% { right: 115%; }
}
@keyframes cloud2 {
  0% { right: -10%; }
  100% { right: 110%; }
}
@keyframes cloud3 {
  0% { right: -17%; }
  100% { right: 117%; }
}

.pause {
  animation-play-state: paused !important;
}
/*=============================== Components ================================*/

/*------------- Landscape Device Protection -------------*/

.orientation-prevent-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #463b6b;
  z-index: 10;
  color: #ffffff;
  display: none;
  overflow: hidden;
}

.orientation-prevent-overlay .overlay-container {
  display: block;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: relative;
  padding: 0 32px;
}

.orientation-prevent-overlay .overlay-container #icon {
  margin: 0 auto;
  max-width: 128px;
}

.orientation-prevent-overlay .overlay-container #description {
  font-size: 14pt;
}

@media screen and (orientation: landscape) and (max-height: 479px) {
  .orientation-prevent-overlay {
    display: block;
  }
}

@media screen and (max-height: 299px) {
  .orientation-prevent-overlay {
    display: block;
  }

  .orientation-prevent-overlay .overlay-container #icon {
    max-width: 64px;
  }

  .orientation-prevent-overlay .overlay-container h1 {
    font-size: 24pt;
  }

  .orientation-prevent-overlay .overlay-container #description {
    font-size: 12pt;
  }
}

/*-------------- jQuery WIPCampCarousel3D ---------------*/
.con {
  position: fixed;
  width: 100%;
  height: 100%;
}

.next, .prev {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  cursor: pointer;
}

.idle .slide,
.idle .slide h1,
.idle .slide p {
  cursor: pointer;
}

.slide {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 100%;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background: linear-gradient(#141123, #1d3c5c);
}

.slide.animate {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide.active {
  transform: perspective(100px) translate3d(0, 0, 0) !important;
  z-index: 10;
}
.slide div.card-heading {
  position: absolute;
  z-index: 55;
  width: 100%;
  margin-top: 50%;
  text-align: center !important;
  left: 0;
  opacity: 1;
  transition: all 0.1s;
}
.slide.active div.card-heading {
  opacity: 0;
}
div.card-heading h1 {
  line-height: 1em;
  text-align: center !important;
}
div.card-heading h1 > span {
  display: block;
  text-align: center !important;
}
.register {
  position: fixed;
  width: 20%;
  height: 10%;
  z-index: 1;
  bottom: 2%;
  margin: 0 40%;
}
.register img {
  width: 100%;
  height: 100%;
}

.link-map {
  font-family: 'thaisans_neueregular', sans-serif;
  display: inline-block;
  background: #FFF;
  color: #000;
  border: 1px solid #fff;
  padding: 0.8em 1em 0.8em 1em !important;
  text-decoration: none !important;
}
.link-map:hover {
  background: white;
  color: black !important;
  border: 1px solid white;
}
.link {
  display: inline-block;
  background: #FFF;
  color: #000;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding: 0.8em 1em 0.8em 1em !important;
  text-decoration: none !important;
}
.link:hover {
  background: white;
  color: black !important;
  border: 1px solid white;
}
.idle .btn {
  cursor: default;
}

.slide.active .show--onActive {
  opacity: 1;
}

.slide .show--onActive {
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-control {
  position: fixed;
  bottom: 15%;
  cursor: pointer;
  width: 100%;
  max-width: 480px;
  margin: 0px 4px;
}

.slide-control .prev-container,
.slide-control .bullet-container,
.slide-control .next-container {
  float: left;
  height: 24px;
  width: 24px;
}

.slide-control .prev-container img,
.slide-control .next-container img {
  vertical-align: baseline;
}

.slide-control .bullet-container {
  width: calc(100% - 24px * 2 - 4px * 2);
  margin: 0px 4px;
}

.bullet-container .bullet {
  height: 24px;
  width: calc((100% - 24px * 2) / 7);
  float: left;
}

.bullet-container .bullet,
.bullet-container .bullet-gap:last-child {
  background: #969696;
  transition: background 0.25s linear;
}

.bullet-container .bullet.step,
.bullet-container .bullet-gap:not(:last-child),
.bullet-container .bullet.step+.bullet-gap,
.bullet-container .bullet.step+.tooltip+.bullet-gap  {
  background: #463b6b;
}

.bullet-container .bullet:first-child {
  border-radius: 12px 0 0 12px !important;
}

.bullet-container .bullet:last-child {
  border-radius: 0 12px 12px 0 !important;
}

.bullet-container .bullet {
  border-right: 2px #463b6b solid;
}

.bullet-container .bullet.step,
.bullet-container .bullet.step+.bullet-gap,
.bullet-container .bullet.step+.tooltip+.bullet-gap {
  border-left: 2px #eeeeee solid;
}

.bullet-container .bullet-gap {
  width: 24px;
  height: 24px;
  float: left;
  cursor: default;
}

.bullet-container .bullet-gap:first-child {
  border-radius: 12px 0 0 12px;
}

.bullet-container .bullet-gap:last-child {
  border-radius: 0 12px 12px 0;
}

/*================================= Pages ===================================*/

/*-------------------- Welcome Page ---------------------*/
.sponsor-logo{
  margin: 0px auto;
  width: 30em;
  z-index: 10;
}

.wave {
  width: 100%;
  height: 3em;
}

.wave1{
  background-image: url('../img/object/wave6.svg');
  background-repeat: repeat-x;
  position: absolute;
  bottom: 1.5em;
  z-index: 1;
  animation-name: wave;
  animation-duration: 5s;
  animation-delay: .1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
.wave2{
  background-image: url('../img/object/wave5.svg');
  background-repeat: repeat-x;
  background-position: -42px 0;
  position: absolute;
  width: 200%;
  bottom: 1em;
  left: -50%;
  z-index: 3;
  animation-name: wave;
  animation-duration: 3s;
  animation-delay: .1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
.wave3{
  background-image: url('../img/object/wave4.svg');
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  width: 200%;
  left: -50%;
  z-index: 5;
  animation-name: wave;
  animation-duration: 2.5s;
  animation-delay: .1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}

.cloud1 {
  background-image: url('../img/object/cloud.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  right: -15%;
  width: 15%;
  height: 10%;
  z-index: 2;
  animation-name: cloud1;
  animation-duration: 30s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
.cloud2 {
  background-image: url('../img/object/cloud.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 25%;
  right: -10%;
  width: 10%;
  height: 5%;
  z-index: 2;
  animation-name: cloud2;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
.cloud3 {
  background-image: url('../img/object/cloud.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 5%;
  right: -17%;
  width: 17%;
  height: 12%;
  z-index: 3;
  animation-name: cloud3;
  animation-duration: 32s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}

.flip-horizontal, .x-grid-cell-inner, .x-column-header-text, .x-panel-header-text {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.card-content{
  position: relative;
  margin-top: 1.5em;
  z-index: 99;
}

.card-menu{
  text-decoration: none !important;
  color: #000;
  background-color: #fff;
  display: inline-block;
  padding: 0.45em;
}
.card-menu:hover{
  cursor: pointer;
  color: white;
  background-color: #323ba8;
}
.link-menu{
  text-decoration: none !important;
  color: #000 !important;
  display: inline-block;
  /*padding-top: 0.45em !important;*/
}

.ship-main {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 4;
  left: -1em;
  animation-name: shipTraveller;
  animation-duration: 4s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.ship {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 4;
  left: -1em;
  animation-name: shipTraveller;
  animation-duration: 4s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.ship img {
  transition: all 2.5s;
}

.line {
  position: absolute;
  margin-left: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10px;
  height: 250px;
  background-color: #875717;
  z-index: -1;
}

.register-final,
.notice,
.open-wip {
  height: 70px;
  clear: left;
}
.register-open div p span,
.register-final div p span,
.notice div p span,
.open-wip div p span {
  display: block;
  font-size: 0.8em !important;
}
.register-open div p,
.register-final div p,
.notice div p,
.open-wip div p {
  line-height: 1.2em;
  transform: translateY(25%);
}
.status {
  width: 70px;
  height: 70px;
  float: left;
}
.status + div {
  float: left;
  margin-left: 10px;
}
.status img {
  width: 90%;
  height: 90%;
}

@keyframes shipTraveller {
    0% {
        transform: rotateZ(0deg) translate(0, 1.25px);
    }

    25% {
        transform: rotateZ(1deg) translate(10px, 1.25px);
    }

    50% {
        transform: rotateZ(0deg) translate(20px, 2.5px);
    }

    75% {
        transform: rotateZ(-1deg) translate(10px, 1.25px);
    }

    100% {
        transform: rotateZ(0deg) translate(0, 1.25px);
    }
}

.cisland{
  position: absolute;
  top:0;
  width: 100%;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
}
.cisland img {
  position: absolute;
  bottom: 2.5em;
  right: -5em;
}

.logo-wipcamp--full {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
}
.logo-important-sponsor{
  margin: -1em auto;
  display: block;
  width: 100%;
  max-width: 230px;
}
.faqblock{
  width:100%;
  position: relative;
  z-index: 55;
}
#five span{
  position: relative;
  z-index: 9;
}
#five a,
#five a:hover {
  color: black !important;
  text-decoration: none !important;
}
#five.active a,
#seven.active a {
  cursor: pointer;
}
#five a,
#seven a {
  cursor: default;
}
#six ul{
  list-style: none;
}
#six ul li:before{
  content: "⚓";
}
#six h2 {
  font-size: 1.75em;
  margin-top: 0 !important;
}
#six h2 ~ p {
  text-indent: 50px;
}
#seven a,
#seven a:hover {
  color: white !important;
  text-decoration: none !important;
}
#seven ul li{
  display: inline;
  background-color: white;
  list-style-type: none;
}
.fa-fa-map-marker{
  color: black;
  font-size: 1em;
}
.fa-facebook{
  color:black;
  font-size: 1em;
}
.fa-twitter{
  color:black;
  font-size: 1em;
}
.fa-instagram{
  font-size: 1em;
  color:black;
}
.fa-youtube{
  font-size: 1em;
  color:black;
}
.link-menu{
  margin-left: 1em !important;
}
.link-img {
  width: 90px;
}
#one{
  cursor: -webkit-grab;
}
#two{
  cursor: -webkit-grab;
}
#three{
  cursor: -webkit-grab;
}
#four{
  cursor: -webkit-grab;
}
#five{
  cursor: -webkit-grab;
}
#five .panel-title{
  cursor: -webkit-grab;
}
#six{
  cursor: -webkit-grab;
}
#seven{
  cursor: -webkit-grab;
}
h1,p,ul{
  cursor: -webkit-grab;
}

#two p{
  font-weight: 100;
}
.moon{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}
/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 767px){
  body,html{
    font-size: 13px;
  }
  .ship-main img{
    height: 16.5em;
    bottom: 1.3em;
    left: -3em;
  }
  .ship img{
    height: 16.5em;
    bottom: 1.3em;
    left: -3em;
  }
  #two.active .ship img{
    left: -3em;
  }
  #two .ship img {
    left: -95%;
  }
  #three.active .ship img{
    left: -3em;
  }
  #three .ship img {
    left: -95%;
  }
  #four.active .ship img{
    left: -3em;
  }
  #four .ship img {
    left: -95%;
  }
  #five.active .ship img{
    left: -3em;
  }
  #five .ship img {
    left: -95%;
  }
  #six.active .ship img{
    left: -3em;
  }
  #six .ship img {
    left: -95%;
  }
  #seven.active .ship img{
    left: -3em;
  }
  #seven .ship img {
    left: -95%;
  }
  .register {
    width: 70%;
    height: 10%;
    margin: 0 15%;
  }
  #two .cisland img{
    height: 12.5em;
    right: -1em;
    bottom: 2em;
  }
  #three .cisland img{
    height: 11em;
    right: 0em;
    bottom: 2.85em;
  }
  #four .cisland img{
    height: 11.5em;
    right: -2em;
    bottom: -0.1em;
  }
  #five .cisland img{
    height: 11em;
    right: 0.2em;
    bottom: 2.1em;
  }
  #six .cisland img{
    height: 13em;
    right: 0em;
    bottom: 1.7em;
  }
  #seven .cisland img{
    height: 12em;
    right: -1em;
    bottom: 0.45em;
  }
  #logo{
    position: relative;
    z-index: 99;
    top:15%;
  }
  .wipcamp-logo{
    height: 15em;
  }
  .mountain{
    position: absolute;
    bottom: 2em;
    right: -5em;
    height: 7em;
  }
  .game-btn{
    position: absolute;
    bottom: 1.5em;
    right: 0;
    z-index: 2;
    width: 9em;
  }
  .moon img{
    position: absolute;
    top:1.5em;
    right: 2em;
    height: 5em;
    z-index: 10;
  }
  #two span{
    margin-top: 0.35em;
  }
  #two p{
    font-size: 1.2em;
  }
  .slide h1 {
    font-size: 3.5em;
    text-align: left;
  }
  .slide h1 > span {
    font-size: 0.5em;
    text-align: left;
  }
  #three p{
    font-size: 1.2em;
  }
  #four p{
    font-size: 1.2em;
  }
  #six p{
    font-size: 1.2em;
  }
  #six ul{
    font-size: 1.07em;
  }
  #seven p{
    font-size: 1.2em;
  }
  #three span{
    margin-top: 0.35em;
  }
  .wave3{
    height: 3.5em;
    bottom: -.5em;
  }
  .panel-heading{
    padding: 0.4em 0.6em;
  }
  .panel-title{
    font-size: 0.9em;
  }
  .panel-body{
    font-size: 0.90em;
    padding: 0.8em;
  }
  #seven ul li img{
    width: 4em;
  }
  .link-menu{
    margin-left: 0.5em !important;
  }
  .link-img {
    width: 70px;
  }
  .slide div.card-heading h1 {
    font-size: 7.5em;
  }
  .slide div.card-heading h1 > span {
    margin-top: -0.5em !important;
    font-size: 0.3em;
  }
  #two .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #three .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #four .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #five .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #six .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #seven .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  .logo-important-sponsor{
    margin-top: 0em;
  }
  #btn-getstarted{
    margin-top: 3em;
  }
  .logo-important-sponsor{
    margin-top:-0.5em;
  }
}
/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1023px){
  body,html{
    font-size: 15px;
  }
  .register {
    width: 60%;
    height: 10%;
    margin: 0 20%;
  }
  .moon img{
    position: absolute;
    top:1.5em;
    right: 2em;
    height: 5em;
    z-index: 10;
  }
  #two .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #three .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #four .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #five .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #six .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #seven .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  .logo-important-sponsor{
    margin-top: -2.4em;
    max-width: 300px;
  }
  .cisland img{
    height: 15em;
    right: 1em;
  }
  .ship-main img{
    height: 20em;
    bottom: 0;
    left: 0;
  }
  .ship img{
    height: 20em;
    bottom: 0;
    left: 0;
  }
  #two.active .ship img{
    height: 20em;
    bottom: 0em;
    left: 0em;
  }
  #two .ship img {
    height: 20em;
    bottom: 0em;
    left: -50%;
  }
  #three.active .ship img{
    height: 20em;
    bottom: 0em;
    left:0em;
  }
  #three .ship img {
    height: 20em;
    bottom: 0em;
    left: -50%;
  }
  #four.active .ship img{
    height: 20em;
    bottom: 0em;
    left:0em;
  }
  #four .ship img {
    height: 20em;
    bottom: 0em;
    left: -50%;
  }
  #five.active .ship img{
    height: 20em;
    bottom: 0em;
    left:0em;
  }
  #five .ship img {
    height: 20em;
    bottom: 0em;
    left: -50%;
  }
  #six.active .ship img{
    height: 20em;
    bottom: 0em;
    left:0em;
  }
  #six .ship img {
    height: 20em;
    bottom: 0em;
    left: -50%;
  }
  #seven.active .ship img{
    height: 20em;
    bottom: 0em;
    left:0em;
  }
  #seven .ship img {
    height: 20em;
    bottom: 0em;
    left: -50%;
  }
  #two .cisland img{
    height: 16.5em;
    right: 1em;
    bottom: 1em;
  }
  #three .cisland img {
    height: 14em;
    right: 0em;
    bottom: 1.50em;
  }
  #four .cisland img {
    height: 15em;
    right: 0em;
    bottom: -1.50em;
  }
  #five .cisland img{
    height: 14em;
    right: 0.2em;
    bottom: 1.8em;
  }
  #six .cisland img{
    height: 16em;
    right: 0.2em;
    bottom: 1.8em;
  }
  #seven .cisland img{
    height: 14.5em;
    right: 0.8em;
    bottom: -0.25em;
  }
  #logo{
    position: relative;
    z-index: 99;
    top:10%;
  }
  .sponsor-logo{
    margin: 0px auto;
    z-index: 10;
  }
  #two p{
    font-size: 1.06em;
  }

  .card-menu{
    margin-top: 0.2em;
    padding: 0.40em 0.35em;
    font-size:1em;
  }
  .slide h1 {
    font-size: 3em;
    text-align: left;
  }
  .slide h1 > span {
    font-size: 0.5em;
    text-align: left;
  }
  .mountain{
    position: absolute;
    bottom: 3em;
    right: -5em;
    height: 10em;
  }
  .game-btn{
    position: absolute;
    bottom: 1.5em;
    right: 0;
    z-index: 2;
    width: 9em;
  }
  .wave3{
    height: 4em;
    bottom: -1em;
  }

  #three p{
    margin: 1em;
    font-size: 1.06em;
  }
  #four p{
    font-size: 1.06em;
  }
  #six p{
    font-size:1.06em;
  }
  #seven p{
    font-size:1.06em;
  }
  .panel-heading{
    padding: 0.4em 0.6em;
  }
  .panel-title{
    font-size: 0.95em;
  }
  .panel-body{
    font-size: 0.85em;
    padding: 0.8em;
  }
  .slide div.card-heading h1 {
    font-size: 8.7em;
  }
  .slide div.card-heading h1 > span {
    margin-top: -0.5em !important;
    font-size: 0.27em;
  }
  #two .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #three .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #four .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #five .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #six .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #seven .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  .slide div.card-heading {
    margin-top: 20%;
  }
}

/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px){
  body,html{
    font-size: 18px;
  }
  .wave{
    width:100%;
    height: 4em;
  }
  .logo-important-sponsor{
    margin-top: -2em;
    max-width: 320px;
  }
  #logo{
    position: relative;
    z-index: 99;
    top:14%;
  }
  .sponsor-logo{
    margin: 0px auto;
    z-index: 10;
  }
  .ship-main img{
    height: 24em;
    position: absolute;
    bottom: 0em;
    left: 0;
  }
  .ship img{
    height: 50em;
    position: absolute;
    bottom: 0em;
    left: 0;
  }
  #two.active .ship img{
    height: 24em;
    bottom: 0em;
    left: 0;
  }
  #two .ship img {
    height: 24em;
    bottom: 0em;
    left: -50%;
  }
  #three.active .ship img{
    height: 24em;
    bottom: 0em;
    left: 0;
  }
  #three .ship img {
    height: 24em;
    bottom: 0em;
    left: -50%;
  }
  #four.active .ship img{
    height: 24em;
    bottom: 0em;
    left: 0;
  }
  #four .ship img {
    height: 24em;
    bottom: 0em;
    left: -50%;
  }
  #five.active .ship img{
    height: 24em;
    bottom: 0em;
    left: 0;
  }
  #five .ship img {
    height: 24em;
    bottom: 0em;
    left: -50%;
  }
  #six.active .ship img{
    height: 24em;
    bottom: 0em;
    left: 0;
  }
  #six .ship img {
    height: 24em;
    bottom: 0em;
    left: -50%;
  }
  #seven.active .ship img{
    height: 24em;
    bottom: 0em;
    left: 0;
  }
  #seven .ship img {
    height: 24em;
    bottom: 0em;
    left: -50%;
  }
  #two p{
    font-size: 0.9em;
  }
  .cisland img{
    height: 22em;
  }
  #two .cisland img{
    height: 18em;
    right: 1em;
    bottom: 1.5em;
  }
  #three .cisland img {
    height: 16em;
    right: 2em;
    bottom: 2.85em;
  }
  #four .cisland img{
    bottom:-0.5em;
    height: 16em;
    right: 1em;
  }
  #five .cisland img {
    height: 16em;
    right: 3em;
    bottom: 2.65em;
  }
  #six .cisland img {
    height: 18em;
    right: 3em;
    bottom: 2.65em;
  }
  #seven .cisland img {
    height: 17.5em;
    right: 3em;
    bottom: -0.5em;
  }
  .card-menu{
    margin-top: 0.65em;
    padding: 0.30em 0.70em 0.30em 0.45em;
    border-radius: 4px;
    font-size:1em;
  }
  .slide h1 {
    font-size: 3em;
    text-align: left;
  }
  .slide h1 > span {
    font-size: 0.5em;
    text-align: left;
  }
  .slide div.card-heading h1 {
    font-size: 7.5em;
  }
  .slide div.card-heading h1 > span {
    font-size: 0.35em;
  }
  .card-content{
    margin-top: 2em;
    position: relative;
    z-index: 99;
  }
  .mountain{
    position: absolute;
    bottom: 8em;
    right: -5em;
    height: 10em;
  }
  .game-btn{
    position: absolute;
    bottom: 3.6em;
    right: 0;
    z-index: 2;
    width: 11em;
  }
  .wave{
    width: 200%;
  }
  .wave3{
    bottom: -1em;
  }
  #two p{
    font-size: 1em;
  }
  #three p{
    margin: 1em;
    font-size: 1em;
  }
  #four p{
    font-size: 1em;
  }
  #six p{
    font-size: 1em;
  }
  #seven p{
    font-size: 1em;
  }
  .panel-heading{
    padding: 0.4em 0.6em;
  }
  .panel-title{
    font-size: 0.9em;
  }
  .panel-body{
    font-size: 0.85em;
    padding: 0.8em;
  }
  .moon img{
    position: absolute;
    top:1.5em;
    right: 2em;
    height: 5em;
    z-index: 10;
  }
  #two .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #three .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #four .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #five .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #six .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  #seven .moon img{
    position: absolute;
    top:1.5em;
    right: 5em;
    height: 5em;
    z-index: 10;
  }
  .slide div.card-heading h1 {
    font-size: 8.7em;
  }
  .slide div.card-heading h1 > span {
    margin-top: -0.5em !important;
    font-size: 0.27em;
  }
  #two .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #three .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #four .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #five .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #six .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  #seven .card-content h1 > span{
    display: block;
    font-size: 0.4em;
    margin-top: -2.1em;
    margin-bottom: -1em;
  }
  .slide div.card-heading {
    margin-top: 17%;
  }
}
#five .panel-title:hover{
  cursor: pointer;
}
